}

h1 {
    font-size: 30px;
    line-height: 1.2;
    font-family: Cinzel Decorative',cursive;

}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: Cinzel Decorative',cursive;

}

#bio {
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

img {
    width: 500px;
    height: 500px
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10px;
    cursor: pointer;
}

.links {
    float: left;
    color: #h5f;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

.links:hover {
    background-color: dodgerblue;
}

body {
    text-align: center;
}

img {
    transition: transform .2s;
    height: 250;
    width: 250;
}

img:hover {
    transform: scale(0.9);
}
